.menu-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #B1B695;
    z-index: 1000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .menu-info {
    width: 100%;
    background-color: #B1B695;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
  }
  
  .menu {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: #828E82;
    width: 100%;
    border-bottom: 1px solid #ddd;
  }
  
  .menu > li {
    position: relative;
    padding: 15px 20px;
    cursor: pointer;
    border-right: 1px solid #ddd;
    flex-grow: 1;
    text-align: center;
  }
  
  .menu > li:last-child {
    border-right: none;
  }
  
  .menu li ul {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    width: 200px; 
    background-color: #828E82;
    box-shadow: 0px 8px 16px rgba(6, 2, 2, 0.556);
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid #ddd;
    z-index: 1000;
  }
  
  .menu li:hover > ul {
    display: block;
  }
  
  .menu li ul li {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    position: relative;
  }
  
  .menu li ul li:last-child {
    border-bottom: none;
  }
  
  .menu li ul li ul {
    left: 100%; 
    top: 0; 
  }
  
  .menu li:hover,
  .menu li.active {
    background-color: #607B7D;
  }
  