/* Importa fonte */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap'); 

.logo {
    width: 50px;
    height: 50px;
    float: left;
    position: absolute;
    background-image: url('../../../public/logo192.png');
    background-size: cover;
    background-repeat: no-repeat;
    left: 20px;
    border-radius: 50%;
    margin-top: 2px;
}

/* Conteineir do menu */
.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding-left: 90px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 8px;
}

/* Area de info do menu */
.menu-info {
    width: 100%;
    background-color: #B1B695;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 20px;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Lista dos itens do menu */
.menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: white;
    width: 100%;
    color: black;
    font-size: 18px;
    border-radius: 8px;
    font-family: "Jost", sans-serif;
}

/* Item da lista do menu */
.menu > li {
    position: relative;
    padding: 15px 60px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transiçao para a cor de fundo */
}

/* Remove a borda direita do ultimo item do menu */
.menu > li:last-child {
    border-right: none;
}

/* Subcategoria */
.menu li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 184px;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(6, 2, 2, 0.556);
    z-index: 1000;
    border-radius: 8px;
}

/* Subcategoria quando passa o mouse sobre o item no menu */
.menu li:hover > ul {
    display: block; /* O menu de subcategoria fica visivel */
}

/* Itens da subcategoria */
.menu li ul li {
    padding: 10px 15px;
    position: relative;
    transition: background-color 0.3s; /* Adiciona uma transição suave para a cor de fundo */
}

/* Subcategoria dentro da subcategoria */
.menu li ul li ul {
    left: 100%;
    top: 0;
    border-radius: 8px;
}

/* Deixa a subcategoria dentro da subcategoria oculta
.menu li ul li ul {
    display: none;
    left: 100%;
    top: 0;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(6, 2, 2, 0.556);
    z-index: 1000;
    border-radius: 8px;
}

/* Exibe a subcategoria quando passa o mouse sobre a categoria pai */
.menu li ul li:hover > ul {
    display: block; 
}

/* Estiliza itens do menu quando passa o mouse ou quando estiver ativo */
.menu li:hover,
.menu li.active {
    background-color: #868f8f3c;
    border-radius: 8px;
}

/* Tentei deixar responsivo, mas não deu */
@media (max-width: 768px) {
    .menu {
        flex-direction: column;
    }

    .menu > li {
        padding: 10px;
    }

    .menu li ul {
        width: 100%;
    }

    .menu li ul li ul {
        left: 100%;
    }
}

@media (max-width: 480px) {
    .menu-info {
        font-size: 12px;
    }
}
